/* *, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

:root {
    --color-bg-calendar: #00478b;
    --color-cell: #b28707;
    font-weight: bold;
    --color-cell-disabled: #fde49b;
}

.root {
    min-height: 100vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    padding: 20px 10px;
    background-color: var(--color-bg-calendar);
    border-radius: 3px;
    /* width: 100%; */
    /* max-width: 300px; */
    font-family: sans-serif;
}
.calendar2 {
    padding: 20px 10px;
    background-color: var(--color-bg-calendar);
    border-radius: 3px;
    /* width: 100%; */
    /* max-width: 300px; */
    font-family: sans-serif;
}
.calendar__header {
    color: #b28707;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.calendar .control {
    color: #b28707;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}
.calendar2 .control {
    color: #b28707;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}
.grid__header, .grid__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid__header {
    font-weight: bold;
    color: #b28707;
    margin-bottom: 20px;
}

.grid__body {
    grid-auto-rows: 40px;
    color: var(--color-cell);
}

.grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__cell--gd {
    cursor: pointer;
}

.grid__cell--selected {
    color: var(--color-bg-calendar);
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 0 2px var(--color-bg-calendar) inset;
}

.grid__cell--disabled {
    color: var(--color-cell-disabled);
    cursor: not-allowed;
}