.text-azulFecomercio {
    color: #1a5ca2!important;
}
.weightTextoFecomercio{
    font-weight: 600;
}
.page-active{
    display:block!important;
}
.cor{
    background-color: #b28707;
}
.fonte-branco{
    color:white;
}
.tituloAuditorio{
    font-size: 20px;
}
.subtituloAuditorio{
    font-size: 16px;
}
.fonte-branco-importante{
    color:white!important;
}
.limitadorCaractere{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: hyphenate;
    max-width: 140px;
    display: block;
}
.botaoLogin{
    bottom: 0px;
    width: 100%;
    position: fixed;
    padding: 15px 0;
    border-radius: 0px;
}
.bola{
    border-radius: 50%;
    background-color: #b28707;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    z-index: 10;
    top: 18%;
    left: 39%;
}
.bolaAluguel{
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #1a5ca2;
    border-radius: 50%;
    top: 44%;
    border: 3px solid white;
    left: 41%;
    padding-top: .5rem!important;
}
.bola2{
    border-radius: 50%;
    background-color: #b28707;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    z-index: 10;
    top: 3%;
    left: 39%;
}
#telaInicial{
    background: url('../img/BannerTemporario.png');
    background-size: cover;
    background-position: center;
}
.page{
    position:absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    display:none;
}
.f::after {
    position: absolute;
    height: 0.1em;
    content: '';
    background-color: #b28707;
    left: 5em;
    top: 2.1em;
    width: 40px;
}
.fontFecomercio{
    font-size: 1.8rem;
}
.fontTexto2{
    font-size: 1rem;
    font-weight: 600;
}
.botao100{
    width: 100%!important;
}
.radio0{
    border-radius: 0%!important;
}
.botaoCorFecomercioPrimario{
    background-color: #b28707;
    border-color: #b28707;
}   
.inputAparece{
    display:block;
}
.inputdesaparece{
    display:none;
}
.bannerDisplay{
    display:none;
}

@media(max-width: 1024px){
    .bolaAluguel {
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: #1a5ca2;
        border-radius: 50%;
        top: 72%;
        border: 3px solid white;
        left: 50%;
        padding-top: .5rem!important;
    }
}
@media(max-width: 768px){
    .bolaAluguel {
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: #1a5ca2;
        border-radius: 50%;
        top: 65%;
        border: 3px solid white;
        left: 44%;
        padding-top: .5rem!important;
    }
}
@media(min-height: 641px){
    .bannerDisplay{
        display:block;
    }
}
@media(max-width: 414px){
    .bolaAluguel {
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: #1a5ca2;
        border-radius: 50%;
        top: 47%;
        border: 3px solid white;
        left: 42%;
        padding-top: .5rem!important;
    }
}
@media(max-width: 375px){
    .bolaAluguel {
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: #1a5ca2;
        border-radius: 50%;
        top: 43%;
        border: 3px solid white;
        left: 40%;
        padding-top: .5rem!important;
    }
}
@media(max-width:360px){
    .bolaAluguel {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #1a5ca2;
        border-radius: 50%;
        top: 44%;
        border: 3px solid white;
        left: 41%;
        padding-top: .4rem!important;
    }
}
@media(max-width: 320px){
    .bolaAluguel {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #1a5ca2;
        border-radius: 50%;
        top: 37%;
        border: 3px solid white;
        left: 41%;
        padding-top: .30rem!important;
    }
    
}